input {
  display :block;
  margin: auto;
}

body {
  position:flex;
  margin:auto;
}

.App {
  text-align: center;
}

.edit, .delete {
  display: inline;
  float: right;
}

.peoples {
  display: flexbox;
  list-style: none;
}

.person, .car {
  list-style: none;
  padding: 10px;
  margin: 10px;
  width: 90%;
}

.person {
  border: 1px solid red;
}

.car {
  border: 1px solid green;
}

.peopleDetails {
  text-align: left;
  display: inline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: block;
}

.selectForm {
  margin: auto;
  display: block;
  width: 178px;
  padding: 2px;

}

.error {
  color: red;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
