input {
  display :block;
  margin: auto;
}

body {
  position:flex;
  margin:auto;
}

.App {
  text-align: center;
}

.edit, .delete {
  display: inline;
  float: right;
}

.peoples {
  display: flexbox;
  list-style: none;
}

.person, .car {
  list-style: none;
  padding: 10px;
  margin: 10px;
  width: 90%;
}

.person {
  border: 1px solid red;
}

.car {
  border: 1px solid green;
}

.peopleDetails {
  text-align: left;
  display: inline;
}

.selectForm {
  margin: auto;
  display: block;
  width: 178px;
  padding: 2px;

}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
